.category {
    &-link {
        text-transform: capitalize;
        text-decoration: none;
        color: rgb(8, 7, 7);
        font-size: 1rem;
        font-weight: 200;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    }

    &-sort {
        position: fixed;
        margin-top: 5.75rem;
        margin-left: 80%;
        color: green;
    }

    &-sort2 {
        color: rgb(10, 12, 12);
        background-color: rgb(212, 212, 212);
    }

    &-item {

        position: static;
        align-items: center;
        cursor: pointer;
        display: flex;
        flex-wrap: wrap;
        margin-left: 10%;

    }

    &-li {
        background-color: rgb(79, 86, 79);

    }

    &-image {
        height: 250px;
        width: 190px;
    }

    &-one {

        height: 25rem;

        & ol {
            position: static;
            margin-top: 8.13rem;
            width: 14rem;
            list-style: none;
        }
    }

    &-border {
        width: 190px;

        border: 2px solid rgb(230, 236, 236);
    }

    &-rate li {
        display: inline;

    }

    &-desc {
        color: #535766;
        font-size: 14px;
        line-height: 1.5;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-weight: 400;
    }

    &-price {
        line-height: 1.5;
        font-size: 14px;

        color: rgb(2, 10, 10);

        & strike {
            color: #7e818c;
            font-weight: 400;
            margin-left: 5px;
            font-size: 12px;


        }

        & span {
            color: #ff905a;
            font-weight: 400;
            font-size: 12px;
            margin-left: 5px;

        }
    }

    &-title {
        font-size: 16px;
        font-weight: 700;
        color: #282c3f;
        margin-top: 8px;
        line-height: 1;
        margin-bottom: 6px;
        width: 200px;


        &:hover {
            color: rgb(54, 95, 185);

        }
    }

    &-off {
        color: green;
        line-height: 1.4;
        font-size: 11px;
    }
}