@mixin btn {
    height: 3.2rem;
    width: 24.6rem;
    margin: 1.3rem 0;
    border: none;
    display: block;
    border-radius: 20px;
}
.product {
    position: static;
    display: flex;
    gap: 2rem;
    align-items: end;

    &-img {
        margin-top: 10rem;
        margin-left: 10%;
        width: 350px;
        height: 400px;
        // border: 2px solid aqua;
        border:none;
        box-shadow: 0px 0px 6px 0px rgb(20, 3, 3);

        // background: radial-gradient(rgb(237, 232, 232) 30%, rgb(167, 204, 216) 70%);
        &-img {
            height: 320px;
            width: 320px;
            margin: 40px 16px;

        }
    }

    &-cart {
        @include btn();
        background-color: rgb(235, 235, 46);
    }

    &-buy {
        @include btn();
        background-color: rgb(225, 103, 58);
    }

    &-details {
        list-style: none;
    }

    &-title {
        color: #282c3f;
        padding: 0 20px 0 0;
        font-size: 24px;
        font-weight: 700;
        line-height: 1;
    }

    &-rating {
        display: flex;
    }

    &-rate {
        color: rgb(7, 7, 7);
        line-height: 2;

        &-icon {
            margin-left: 5px;
            margin-right: 5px;
        }
    }

    &-count {
        color: #8f988f;
        line-height: 2;
    }

    &-off {
        line-height: 2;
        color: green;
        font-weight: 500;
    }

    &-price {
        font-size: 1.8rem;
        font-weight: 600;

        & strike {
            padding: 0 1.4rem;
            font-size: 1.1rem;
            color: #8f988f;

        }

        & span {
            color: green;
            font-size: 1.2rem;
        }
    }

    &-cate {
        color: rgb(108, 79, 106);
        font-size: 1.2rem;
        line-height: 2;
    }
    &-desc {
        width: 15.6rem;
    }
}

.header {
    position: static;
};

@media only screen and (max-width: 780px) {
    .product {
        flex-direction: column;
       align-items: flex-start;

       &-img{
        margin-left: 0;
    }
    }

};

@media only screen and (max-width: 400px) {
.header{
    width: 350px;
}
};


@media only screen and (max-width: 300px) {
    .header{
        width: 250px;
    }
.product{
    &-img {
        margin-top: 10rem;
        margin-left: 0;
        width: 350px;
        height: 310px;
        box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);

        &-img {
            margin-left: 40px;
            height: 230px;
            width: 250px;
        }
    }
}
};
