@mixin btn {
    height: 3.2rem;
    width: 7.6rem;
    margin: 1.3rem 1.6rem;
    border: none;
}

.name {
    box-shadow: 0 .3rem .5rem 0 rgba(218, 186, 186, 0.2);
    height: 4rem;
    font-size: 1.3rem;
    color: rgb(3, 19, 3);
    font-family: sans-serif;
    width: 90%;

}

.product {
    position: static;
    display: flex;
    gap: 2rem;
    align-items: center;


    &-home {
        text-decoration: none;
        margin-left: 50%;
        position: absolute;
        font-size: 1.2rem;
        color: rgb(7, 14, 20);

        &:hover {
            text-decoration: underline;
            text-decoration-color: black;
            color: rgb(40, 9, 221);
        }

    }


    &-img {
        margin-top: 10rem;
        margin-left: 10%;
        width: 350px;
        box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);

        &-img {
            height: 350px;
            width: 350px;
        }
    }

    &-cart {
        @include btn();
        background-color: rgb(232, 232, 9);
    }

    &-buy {
        @include btn();
        background-color: rgb(245, 72, 10);
    }

    &-details {
        list-style: none;
    }

    &-title {
        color: #282c3f;
        padding: 0 20px 0 0;
        font-size: 24px;
        font-weight: 700;
        line-height: 1;
    }

    &-rating {
        display: flex;
    }

    &-rate {
        color: rgb(7, 7, 7);
        line-height: 2;

        &-icon {
            margin-left: 5px;
            margin-right: 5px;
        }
    }

    &-count {
        color: #8f988f;
        line-height: 2;
    }

    &-off {
        line-height: 2;

        color: green;
        font-weight: 500;
    }

    &-price {
        font-size: 1.8rem;
        font-weight: 600;

        & strike {
            padding: 0 1.4rem;
            font-size: 1.1rem;

            color: #8f988f;

        }

        & span {
            color: green;
            font-size: 1.2rem;
        }
    }

    &-cate {
        color: rgb(108, 79, 106);
        font-size: 1.2rem;
        line-height: 2;
    }

    &-desc {
        width: 15.6rem;
    }
}

.header {
    position: static;
}

;

@media only screen and (max-width: 780px) {

    .product {
        flex-direction: column;
        overflow: hidden;
    }

};


.de{
    animation-name: text;
    animation-delay: 1s;
    animation-duration: 4s;
    animation-iteration-count: 1;
    margin-top: -100px;
    position: absolute;

}
@keyframes text {
    0%{
        background-color: aqua;left: 0;top: 0; margin-top: 200px;
    }
    50%{
        background-color: rgb(0, 60, 255);left: 20;top: 20;
    } 100%{
        background-color: rgb(255, 0, 191);left: 0;top: 0;
    }
}
